<div class="container">

    <app-banner [title]="'Fase de Seleção'"
        [subtitle]="'Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar Meu Campeonato para prosseguir.'">
    </app-banner>

    <div class="selecao-filmes">

        <span style="margin: 0 20px; text-align: left;">
            Selecione de 0 a 8 filmes 
            ({{obterFilmesSelecionados().length}})
        </span>

        <div style="margin: 0 20px; text-align: right;">
            <button mat-raised-button (click)="gerarCampeonato()">GERAR MEU CAMPEONATO</button>
        </div>

        <mat-grid-list cols="4" rowHeight="3:1">
            <mat-grid-tile *ngFor="let filme of filmes">
                <mat-card class="card">
                    <mat-checkbox class="card-checkbox" [(ngModel)]="filme.isSelected"></mat-checkbox>
                    <mat-card-header>
                        <mat-card-title class="card-title">{{filme.titulo}}</mat-card-title>
                        <mat-card-subtitle>{{filme.ano}}</mat-card-subtitle>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>

    </div>

    <footer style="margin-top: 30px;">

    </footer>

</div>